.container{
  right: 150px;
  /*justify-content: left;*/
}
#id {
  background-image: url("TERRACOTA\ 20-07-16\ -\ marcado_NEW.svg");
}

.borrar {
  visibility: hidden;
}

path:hover {
  fill: #c5351c;
}

#demo{
  padding-left: 0%;
  background-color: #ffffff;
  text-align: left;
  width: 400px;
}

#planos{
  width: 1800px;
  position: relative;
  top: 40px;
}

#svgMarval{
  width: 1185px;
  height: 698px;
  z-index: -1;
}

#bodyrow{
  border: 2px solid #ce1d1d;
}
#headrow{
  border: 2px solid #ce1d1d;
}
#searchbox{ 
  z-index: 1;
  /*border: 2px solid #4CAF50;*/
  height: 300px;
}
 #titulo_proy{
  /*border: 2px solid #4CAF50;*/
  height: 300px;
 }

 #contenido{
  border: 2px solid #4934a5;
 }

#plano{
  position: absolute;
  height: 60%; 
  width: 65%;
  left: 10px;
  top: 40px;
}
#elnombre{
  font-family: 'monospace', 'Arial Narrow', Arial, sans-serif;
}

#searchbox{ 
  z-index: 1;
 /*border: 2px solid #4CAF50;*/
  height: 100px;
}
 #titulo_proy{
  /*border: 2px solid #4CAF50;*/
  height: 100px;
  text-align: center;
 }
#mycard1{
  position: fixed;
  width:300px;
  height: 200px;
  left: 70%;
  top: 100px;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px rgb(214, 217, 245);
  padding-left: 15px;
  font-family: 'monospace', 'Arial Narrow', Arial, sans-serif;
  visibility: hidden;
  z-index: 1;
}
/*#mycard{
  width: 200px;
  height: 300px;
  border: 2px solid #070707;
  background-color: white;
  box-shadow: 10px 10px 5px rgb(174, 180, 241);
}*/
#card-body{
  
  top: 20px;
  height: 250px;
  text-align: center;
  border: 1px solid #070707;
  /*box-shadow: 10px 10px 5px rgb(174, 180, 241);*/
}
#interno{
  width: 100px;
  border: 1px solid #070707;
  margin: auto auto auto auto;
}

#elpopover{
  text-align: center;
}

#line{
  border-top: 1px solid cadetblue;
}

.tooltip {
  background-color: black;
  
}

#pro{
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
  
}
#pro1{
  background-color: #1AED0C;
  color: black;
  border: 1px solid black;
}
#pro2{
  background-color: #F9F511;
  color: black;
  border: 1px solid black;
}
#pro3{
  background-color: #7EABFA ;
  color: black;
  border: 1px solid black;
}
#pro4{
  background-color: #A0C0F8;
  color: black;
  border: 1px solid black;
}
#pro5{
  background-color: #00244D;
  color: white;
  border: 1px solid black;
}


