#id {
  background-image: url("TERRACOTA\ 20-07-16\ -\ marcado_NEW.svg");
}

.borrar {
  visibility: hidden;
}

path:hover {
  fill: #c5351c;
}
#svg10{
  width: 790px;
  height: 400px;
  z-index: 1;
}

#plano{
  position: absolute;
  height: 60%; 
  width: 65%;
  left: 10px;
  top: 40px;
}
#mycard1{
  position: fixed;
  width:300px;
  height: 200px;
  left: 70%;
  top: 100px;
  box-shadow: 10px 10px 5px rgb(214, 217, 245);
  padding-left: 15px;
  font-family: 'monospace', 'Arial Narrow', Arial, sans-serif;
  
}
#mycard{
  width: 130px;
  height: 260px;
  position: absolute;
  left: 2%;
  top: 10%;
  padding-top: 0%;
  padding-bottom: 1%;
  background-color: white;
  border-style: solid;
  border-color: black;
  box-shadow: 10px 10px 5px rgb(214, 217, 245);
  z-index: 1;
}
#card-body{
  top: 50px;
  text-align: center;
}

#elpopover{
  text-align: center;
}

#line{
  border-top: 1px solid cadetblue;
}

.tooltip {
	background-color: black;
}

#pro{
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
  
}
#pro1{
  background-color: #1AED0C;
  color: black;
  border: 1px solid black;
}
#pro2{
  background-color: #F9F511;
  color: black;
  border: 1px solid black;
}
#pro3{
  background-color: #7EABFA ;
  color: black;
  border: 1px solid black;
}
#pro4{
  background-color: #A0C0F8;
  color: black;
  border: 1px solid black;
}
#pro5{
  background-color: #00244D;
  color: white;
  border: 1px solid black;
}
#tooltipL2013{
  left: auto;
  top: 300px;
  right: auto;
  bottom: auto;
  right: 98px;
  z-index: -1;
}

